
/* 1024 */

@media screen and (max-width:1024px) {
    #recharge{
        display: flex;
        flex-wrap: wrap;
        width: 600px;
    }
    #readyhead{
        font-size: 48px;
        width: 1000px;
        /* margin-top: -115px; */
    }
    #cable4{
        padding-left: 621px;
    }
    #cable3
    {
        margin-bottom: -81px;
    }
    #plan{
        padding-left: 60px;
        width: 1000px;
    }
    #bills{
        width: 1000px;
        
    }
    #card1
    {
        margin-left: 205px;
    }
    #card2
    {
        margin-left: 340px;
    }
    #card3
    {
        margin-left: 340px;
    }
   
    /* system */
    #systempage{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    #systempage > #systems{
        flex: 1 0 1000px;
    }
    #systemloram{
        width: 1000px;
        padding-left: 55px;
    }
    #systembutton
    {
        margin-right: 405px;
    }
    #system
    {
        padding-right: 255px;
    }
    
    /* services */
    #gifs{
        padding-left: 350px;
    }
    #gif
    {
        width:250px ;
    }
    #gifloram{
        padding-right: 85px;
        width: 1000px;
    }
    #gifbutton{
        margin-top: 50px;
        margin-left: 455px;
    }


    #wholoram{
        width: 1000px;
        padding-right: 160px;
    }
   


    /* head */
    #headtext
    {
        width: 1000px;
        padding-left: 290px;
    }
    #headloram{
        padding-left: 160px;
        width: 1000px;
    }
    #headbutton
    {
        margin-left: 345px;
        margin-bottom: 55px;
        margin-top: 25px;
    }
    #headimage
    {
        margin-left: 155px;
    }
    /* nav */
    nav {
        margin-left: -195px;
    }
    #navitem{
        font-size: 15px;
    }
    /* #navbutton
    {
        margin-left: 385px;
        margin-right: 245px;
    } */

    /* contact */
    #contact{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
    }
    #happy
    {
        padding-left: 60px;
        width: 950px;
    }
    #happyloram
    {
        padding-left: 65px;
        width: 1000px;
    }
    #contact-phone
    {
        margin-left: 165px;
       
    }
    #contactform{
        width: 600px;
        margin-top: 50px;
        margin-left: 233px;
        margin-right: 380px;
    }
    #cantactimg
    {
        margin-left: 172px;
    }
    #email-img
    {
        margin-left: 172px;
    }

    /* carousel */


    .quote-icon {
        width: 30px;
        height: 30px;
    }
    #card-loram{
        font-size: 15px;
        letter-spacing: 0.01em;
        line-height: 12px;
        font-family: Poppins;
        color: #6a6a6a;
       
    }
    .frame-item {
        width: 50px;
        height: 50px;
        margin-top: 15px;
    }
    .card-name {
        font-size: 15px;
        margin-left: 71px;
        margin-top: -47px;
        line-height: 21px;
    }
    .work{
        font-size: 12px;
        line-height: 0px;
        margin-left: 74px;
    }
    #carouselcard1{
        width: 509px;
        height: 294px;
        margin-left: 60px;
        display: block;
    }
    #carouselcard2{
        width: 509px;
        height: 294px;
        margin-left: 60px;
        display: block;
    }
    #carouselcard3{
        width: 509px;
        height: 294px;
        margin-left: 60px;
        margin-right: 60px;
        display: block;
    }

    #downplan {
        padding-left: 60px;
    }

    #footmobile{
        padding-left: 140px;
        padding-top: 107px;
   }

  #google{
        padding-left: 30px;
        padding-top: 257px;
   }
   #apple{
       padding-left: 0.84px;
       padding-top:269px ;
   }
   #footlist{
    padding-left: 106px;
   }
   #power {
    padding-left: 0px;
   }
   #footwidth{
    width: 881px;
   }
}
