@media screen and (max-width:375px) {
    #recharge{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: -24px;
    }
    #ready{
        margin-top: -95px;
    }
    #plans
    {
       margin-left: -107px;
    }
    #readyhead{
        font-size: 20px;
        width: 350px;
        /* display: none; */
        /* margin-top: -115px; */
    }
    #cable4{
        padding-left: 300px;
    }
    #cable3
    {
        margin-bottom: -81px;
    }
    #plan{
        padding-left: 30px;
        font-size: 14px;
        width: 300px;
        line-height: -1px;
    }
    #bills{
        width:350px;
        margin-left: -110px;
        margin-top: -40px;
    }
    #card1
    {
        margin-left: 5px;
    }
    #card2
    {
        margin-left: 30px;
    }
    #card3
    {
        margin-left: 30px;
    }
   
    /* system */
    #systempage{
        display: flex;
        flex-wrap: wrap-reverse;
        margin-right: -12px;
        
    }
    #systempage > #systems{
        flex: 1 0 600px;
    }
    #systemloram{
        width: 350px;
        margin-right: 84px;
        margin-top: -80px;
        font-size: 14px;
        line-height: 28px;
    }
    #systembutton
    {
        margin-right: 190px;
        margin-top: 45px;
    }
    #systems
    {
        margin-top: -55px;
        margin-left: 90px;
    }
    #system{
        width: 440px;
    }
    
    /* services */
    #services{
        margin-left: -107px;
    }
    #who{
        font-size: 20px;
    }
    #servicecable2{
        padding-left:139px;
    }
    #gifs{
        margin-top: -45px;
        padding-left: 100px;
    }
    #gif
    {
        width:250px ;
    }
    #gifloram{
        font-size: 14px;
        padding-right: 400px;
        line-height: 28px;
        margin-left: 20px;
        line-height: 28px;
    }
    #gifbutton{
        margin-top: 40px;
        margin-left: 192px;
    }

    #page2{
        margin-left: -107px;
    }
    #wholoram{
        font-size: 14px;
        width: 100%;
        padding-left: 20px;
        padding-right: 55px;
        line-height: 28px;
    }
    #cable2{
        padding-left: 150px;
    }

    /* head */
    #headtext
    {
        line-height: 50px;
        margin-top: -125px;
        width: 100%;
        padding-left: 65px;
        font-size: 30px;
    }
    #headloram{
        /* font-size: 14px;
        margin-left: 72px; */
        /* margin-left: -40px; */
        /* width: 350px;
        line-height: 20px; */

        font-size: 14px;
        margin-left: -73px;
        line-height: 20px;
        padding-right: 181px;
        
    }
    #headbutton
    {
        font-size: 20px;
        margin-left: 120px;
        margin-bottom: 55px;
        margin-top: 25px;
    }
    #headimage
    {
        margin-top: -125px;
        margin-left: -65px;
    }
    #headmobile{
        /* width: 350px; */
        height: 560px;
    }
    #headperson{
        width: 100px;
        height: 560px;
    }

    /* nav */
    #navbutton
    {
        margin-left: 35px;
        margin-right: 55px;
    }
    .navbar-nav{
        margin-left: -105px;
    }

    /* contact */
    #contact{
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        margin-left: -107px;
    }
    #cable5{
        padding-left: 135px;
    }
    #happy
    {
        font-size: 17px;
        line-height: 35px;
        padding-left: 30px;
        width: 350px;
    }
    #happyloram
    {
        width: 350px;
        font-size: 14px;
        padding-left: 30px;
        line-height: 28px;
    }
    #contact-phone
    {
       width: 300px;
        margin-left: 25px;
    }
    #contact-num{
        padding-left: 50px;
    }
    #contact-num1{
        /* margin-left: 125px; */
       display: none;
    }
    #email-add{
        padding-left: 30px;
    }
    #cantactimg
    {
        margin-left: 42px;
    }
    #email-img
    {
        margin-left: 42px;
    }
    
    #contactform{
        width: 100%;
        margin-top: 50px;
        margin-left: 157px;
        
    }
    #inputform{
        margin-top: -25px;
    }
    #formdiv
    {
        margin-top: -35px;
    }
    input{
        width: 268px;
        margin: 0px;
    }
    textarea{
        width: 273px;  
    }
    #submit {
        width: 268px;
    }





      /* carousel */


      #last{
        padding-left: 30px;
      }
      #lasthead{
        font-size: 20px;
      }
      #lastcable2{
        padding-left: 130px;
      }
      .quote-icon {
        width: 30px;
        height: 30px;
    }
    #card-loram{
      
       
        line-height: 20px;
        font-size: 14px;
        font-family: Poppins;
        color: #6a6a6a;
       
    }
    .frame-item {
        width: 40px;
        height: 40px;
        margin-top: -4px;
    }
    .card-name {
        font-size: 12px;
        margin-left: 55px;
        margin-top: -37px;
        line-height: 11px;
    }
    .work{
        font-size: 12px;
        line-height: 0px;
        margin-left: 54px;
    }
    #carouselcard1{
        width: 300px;
        height: 210px;
        display: block;
        margin-left: 1px;
    }
    #carouselcard2{
        width: 500px;
        height: 257px;
        display: block;
        display: none;
        /* margin-left: 60px; */
        /* margin-right: 60px; */
    }
    #carouselcard3{
        width: 500px;
        height: 257px;
        display: block;
        /* margin-left: 60px;
        margin-right: 60px; */
        display: none;
    }




    #downapp{
        padding-left: 30px;
    } 
    #downhead{
        font-size: 20px;
    }
    #downplan{
        padding-left: 60px;
        font-size: 14px;
        line-height: 28px;
    }
    #downcable2 {
        padding-left: 242px;
    }
    #footmobile{
        width: 150px;
        padding-left: 30px;
        padding-top: 10px;
   }
   #google{
    padding-left: 0px;
    padding-top: 20px;
    }
    #apple{
        margin-left: 210px;
        margin-top: -310px;
        margin-bottom: 10px;
    }
    #playmobile{
        width: 150px;
    }
    #playimg{
        width: 140px;
    }
    #launchtext{
        font-size: 14px;
    }
    #footlist{
    padding-left: 0px;
    font-size: 15px;
    }
    #footlist2{
        padding-left: 0px;
        font-size: 15px;
    }
    #footlist3{
        padding-left: 210px;
        font-size: 15px;
    }
    #footli{
        font-size: 10px;
        line-height: 10px;
        padding-left: 80px;
    }
    #copy{
        padding-left: 20px;
        font-size: 10px;
    }
    #power {
    padding-left: 66px;
    font-size: 10px;
    }
    #footwidth{
        margin-left: 0px;
    }
   #footimg{
    width: 35px;
   }
}
