
#head
{
    background-image: url("images/headback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#navitem
{
        font-size: 20px;
        font-weight: 500;
        font-family: Poppins;
        color: #000;
        padding-left: 35px;
        padding-right: 55px;
        overflow: hidden;
        
}
/* #navsign
{
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    border-radius: 8px;
    background-color: #2547bf;
    width: 50%;
    height: 46px;
    box-sizing: border-box;
    text-align: center;
} */
/* #navlogin
{
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    text-align: left;

    border-radius: 8px;
    border: 1.8px solid #0b108d;
    box-sizing: border-box;
    width: 100%;
    height: 47.8px;
}  */
#navitem:hover{
    color: #0b108d;
}
#headmobile
{

    padding-top: 130px;
    padding-left: 135px;
    padding-bottom: 50px;
    overflow: hidden;
}
#headperson
{
    padding-top: 120px;
   height: 650px;
   overflow: hidden;
}
#headtext
{
   padding-top: 130px;
    font-size: 58px;
    line-height: 72px;
    font-weight: 500;
    font-family: Poppins;
    text-align: left;
    display: inline-block;
    width: 463px;
    color: #1b1b1b;
    overflow: hidden;
}
#headloram
{
    padding-right: 120px;
    font-size: 22px;
    letter-spacing: 0.02em;
    line-height: 34px;
    font-family: Poppins;
    color: #343434;
    width: 650px;
    overflow: hidden;
}
#headbutton
{
   margin-top: 100px;
   border-radius: 12px;
    border: 1.8px solid #0b108d;
    box-sizing: border-box;
    width: 36%;
    height: 59.8px;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    overflow: hidden;
}
#headbutton:hover
{
    color: white;
    background-color: #0b108d;
}




/* page 2 */
.weare
{
    background-image: url("images/weare-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#who
{
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 72px;
    font-weight: 500;
    font-family: Poppins;
    background: linear-gradient(180deg, #0533d3, rgba(37, 41, 57, 0.71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 43px;
    margin-top: -54px;
    overflow: hidden;
}
#cable
{
    height: 44px;
    overflow: hidden;
}
#cable2
{
    height: 44px;
    overflow: hidden;
    padding-left: 325px;
}

#wholoram
{
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 38px;
    font-family: Poppins;
    color: #222;
    width: 737px;
    overflow: hidden;
}
#servicecable{
    height: 44px;
    overflow: hidden;
}
#servicecable2{
    height: 44px;
    overflow: hidden;
    padding-left: 325px;
}
#gif
{
    width: 350px;
    border-radius: 24px;
    height: 557.6px;
    margin-left: 65px;
    overflow: hidden;
    padding-top: 60px;
    padding-left: 35%;

   
}
#gifloram
{
    width: 900px;
    padding-top: 70px;
    padding-left: 100px;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 38px;
    font-family: Poppins;
    color: #222;
    display: inline-block;
    width: 832px;
    overflow: hidden;
}
#gifbutton
{
    margin-top: 180px;
    margin-left: 100px;
    font-size: 24px;
    letter-spacing: 0.01em;
    line-height: 36px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;

    border-radius: 12px;
    border: 1.6px solid #0b108d;
    box-sizing: border-box;
    width: 180px;
    height: 59.6px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
    overflow: hidden;
}
#gifbutton:hover
{
    color: white;
    background-color: #2547bf;
}
#systemloram
{
    padding-top: 150px;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 38px;
    font-family: Poppins;
    color: #222;
    
    width: 548px;
    float: right;
    overflow: hidden;
}
#system
{
   padding-right: 125px;
    padding-top: 150px;
    overflow: hidden;
    float: right;
    overflow: hidden;
}
#systembutton
{
   margin-top: 100px;
    float: right;
    font-size: 24px;
    letter-spacing: 0.01em;
    line-height: 36px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;

    border-radius: 12px;
    border: 1.6px solid #0b108d;
    box-sizing: border-box;
    width: 180px;
    height: 59.6px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
    overflow: hidden;
}
#systembutton:hover
{
    color: white;
    background-color: #2547bf;
}
#ready
{
    background-image: url("images/ready-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#readyhead
{
    padding-left: 43px;
    margin-top: -54px;
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 72px;
    font-weight: 500;
    font-family: Poppins;
    background: linear-gradient(180deg, #0533d3, rgba(37, 41, 57, 0.71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}
#cable3
{
    height: 44px;
    overflow: hidden;
}
#cable4
{
    height: 44px;
    padding-left: 570px;
    overflow: hidden;
}

#plan
{
    font-size: 26px;
    letter-spacing: 0.01em;
    line-height: 40px;
    font-weight: 500;
    font-family: Poppins;
    color: #5b5b5b;
    overflow: hidden;
}
.card-title
{
    font-size: 42px;
    letter-spacing: 0.01em;
    line-height: 62px;
    font-weight: 500;
    font-family: Poppins;
    color: #717171;
    overflow: hidden;
}
.card-text
{
    font-size: 56px;
    letter-spacing: 0.01em;
    line-height: 88px;
    font-weight: 600;
    font-family: Poppins;
    color: #4d4d4d;
    overflow: hidden;
}
#month
{
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 30px;
    font-weight: 500;
    font-family: Poppins;
    color: #8b8b8b;
    overflow: hidden;
}
.card{
    border-radius: 16px;
    background-color: #fbfbfb;
    box-shadow: 2px 4px 36px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 340px;
    overflow: hidden;
}
.card:hover
{
    color: white;
    background-color:  #87a6f6;
}
#cardpop
{
    margin-left: 242px;
    margin-top: 5px;
    border-radius: 6px;
    background-color: #d1e9ff;
    width: 69px;
    height: 28px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    color: #0d36ca;
    font-family: Poppins;
}
#cardbutton
{
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 30px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
   

    border-radius: 12px;
    background-color: #3291e9;
    width: 264px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    font-family: Poppins;
    overflow: hidden;
}
ul{
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 30px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    padding-top: 22px;
    overflow: hidden;
    margin-left: -155px;
}
li{
    list-style-type:none;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    font-family: Poppins;
    color: #646464;
    padding-top: 27px;
    overflow: hidden;
    margin-left: -94px;
    
}
/* .footer
{
    border-radius: 0px 0px 16px 16px;
    background-color: #dcdcdc;
    height: 61px;
    overflow: hidden;
    
} */
#footer
{
    font-size: 24px;
    letter-spacing: 0.01em;
    line-height: 36px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    overflow: hidden;
   
}
#cable5
{
    height: 44px;
    overflow: hidden;
    padding-left: 300px;
}
#happy
{
    font-size: 42px;
    letter-spacing: 0.01em;
    line-height: 64px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    text-align: left;
    display: inline-block;
    width: 448px;
    overflow: hidden;
}
#happyloram
{
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 26px;
    font-family: Poppins;
    color: #222;
    width: 468px;
    overflow: hidden;
}
#contact-phone
{
    border-radius: 12px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.21);
    width: 450px;
    height: 178px;
    overflow: hidden;
}
#contact-num{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    font-family: Poppins;
    color: #707070;
    padding-top: 4px;
    padding-left: 50px;
}
#email-add{
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    font-family: Poppins;
    color: #707070;
    padding-top: 4px;
    padding-left: 50px ;
}
#cantactimg
{
    margin-bottom: -44px;
    padding-left: 22px;
    width: 101px;
    height: 78px;
    overflow: hidden;
}
#email-img
{
    margin-bottom: -155px;
    padding-left: 22px;
    width: 101px;
    height: 78px;
    overflow: hidden;
}
#contactform
{
    border-radius: 16px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.21);
    width: 619px;
    height: 704px;
    overflow: hidden;
    margin-right: 100px;
    margin-bottom: 10px;
}
label
{
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    font-family: Poppins;
    color: #353535;
}
input
{

    font-size: 14px;
    line-height: 24px;
    font-family: Poppins;
    color: #989898;
    padding-left: 25px;

    border-radius: 24px;
    border: 0.8px solid #969696;
    box-sizing: border-box;
    width: 268px;
    height: 44.8px;
}
textarea
{

    font-size: 14px;
    line-height: 24px;
    font-family: Poppins;
    color: #989898;
    padding-left: 25px;
    padding-top: 24px;

    border-radius: 24px;
    border: 0.8px solid #969696;
    box-sizing: border-box;
    width: 560px;
    height: 154.8px;
}
#submit
{


    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: Poppins;
    color: #fff;

    border-radius: 36px;
    background-color: #2547bf;
    width: 560px;
    height: 59px;
    margin-top: 38px;
    margin-left: 10px;
}
#carouselcard1{
    width: 509px;
    height: 300px;
    margin-left: 60px;
}
#carouselcard2{
    width: 509px;
    height: 300px;
    margin-left: 60px;
}
#carouselcard3{
    width: 509px;
    height: 300px;
    margin-left: 60px;
    margin-right: 60px;
}

#lastpage
{
    background-image: url("images/lastpageback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#last{
    padding-left: 135px;
}
#lastcable{
    height: 44px;
    overflow: hidden;
}
#lastcable2{
    height: 44px;
    overflow: hidden;
    padding-left: 309px;
}
#lasthead{
    padding-left: 43px;
    margin-top: -54px;
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 72px;
    font-weight: 500;
    font-family: Poppins;
    background: linear-gradient(180deg, #0533d3, rgba(37, 41, 57, 0.71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#downhead{
    padding-left: 43px;
    margin-top: -54px;
    font-size: 48px;
    letter-spacing: 0.01em;
    line-height: 72px;
    font-weight: 500;
    font-family: Poppins;
    background: linear-gradient(180deg, #0533d3, rgba(37, 41, 57, 0.71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}
#downplan
{
    padding-left: 135px;
}
#downapp
{
    padding-left: 135px;
    font-size: 26px;
    letter-spacing: 0.01em;
    line-height: 40px;
    font-weight: 500;
    font-family: Poppins;
    color: #5b5b5b;
    overflow: hidden;
}

#downcable{
    height: 44px;
    overflow: hidden;
}
#downcable2{
    height: 44px;
    padding-left: 594px;
    overflow: hidden;
}
.quote-icon {
    width: 72px;
    height: 72px;
    overflow: hidden;
}
.lorem-ipsum-dolor {
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 32px;
    font-family: Poppins;
    color: #6a6a6a;
    text-align: left;
    display: inline-block;
    width: 429px;
}
.footer{
    background-color: #eff3ff;
} 
.frame-item
{
    width: 78px;
    height: 78px;
}
.card-name
{
    font-size: 23px;
    letter-spacing: 0.01em;
    line-height: 36px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    margin-left: 128px;
    margin-top: -76px;
}
#card-loram{
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 32px;
    font-family: Poppins;
    color: #6a6a6a;
    width: 429px;
}
.work
{
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 27px;
    font-weight: 500;
    font-family: Poppins;
    color: #7280fe;
    margin-left: 128px;
    line-height: 10px;
}   
#launchtext
{
    margin-top: -65px;
    font-size: 24px;
    font-weight: 600;
    font-family: Poppins;
    color: #888685;
}
footer
{
    background-image: url("images/footerback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#footlist
{
    padding-top: 31px;
    padding-left: 407px;
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    
}
#footli
{
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    padding-left: 95px;
}
#footlist2
{
    padding-top: 31px;
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
}
#footlist3
{
    padding-top: 31px;
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
}
#footimg{
    padding-right: 16px;
}
#copy
{
    padding-top: 29.5px;
    padding-left: 99px;
    font-size: 18px;
    font-family: Poppins;
    color: #bababa;
}
#power
{
    padding-top: 29.5px;
    padding-left: 380px;
    font-size: 18px;
    font-family: Poppins;
    color: #b3b3b3;
}
#footmobile{
     padding-left: 270px;
     padding-top: 107px;
     margin-bottom: -40px;
}
#google{
     padding-left: 50px;
     padding-top: 257px;
}
#apple{
    
    padding-top:269px ;
}
#footwidth{
     border-bottom: 1px solid #CCCCCC;
     margin-left: 99px;
     width: 1268px;
     padding-top: 41.5px;
}


